.form-container{
 width: 60%;
 margin: auto;

    padding: 20px;
    border-radius: 15px;
}
.form-container form .input{

border: 2px solid #D5D0D6;
padding: 10px 15px;
border-radius: 12px;
}
.form-container form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-container form label{

}
.form-container form button{
    width: 40%;
    background-color: #307979;
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
    margin-top:20px ;
}
@media (max-width:800px) {
    .form-container{
        width: 100%;
    }
    .form-container form button{
        width: 100%;
    }
}
.ok{
    display: none;
}
iframe{
    width: 100%;
    height: 100vh;
}